 /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 573px) { 
    header{
    min-height: 50px;
    background-color: #9BC2F9;
    margin-top: 20px;
        
    
}

.header1{
    min-height: 10px;
    background-color: #CCDFFD;
    border: 1px solid black;
    margin: 2px 0px;
   
    
    
   
}

.hero02 {
    min-height: 50px;
    background-color: #9BC2F9;
    margin-top: 5px;
    min-height: 60px;
}

.left-hero{
    min-height: 50px;
    background-color: #CCDFFD;
    border: 1px solid black;
    margin: 5px 10px;
    
}
    .left-body{
       min-height: 150px;
    }


.body-content {
    min-height: 50px;
    background-color: #CCDFFD;
    border: 1px solid black;
    margin: 5px 10px;
}
    .right-hero{
        min-height: 30px;
        margin-top: 2px;
    }    

.right-body{
    min-height: 50px;
    background-color: #9BC2F9;
    margin-top: 5px;
}



footer{
    margin-top: 5px;
    min-height: 20px;
    background-color: #9BC2F9;
}

.footer-content {
    min-height: 20px;
    background-color: #CCDFFD;
    border: 1px solid black;
    margin: 3px 10px;
}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 574px) and (max-width: 991px) {
    header{
        min-height: 40px;
    }
    .header1{
        min-height: 40px;
        margin: 15px 0;
    }
    .hero02{
        min-height: 140px;
    }
    .left-hero{
        min-height: 50px;
        margin: 10px 10px;
    }  
    .body-content{
        min-height: 100px;
    }
    .right-hero {
    min-height: 109px;
    margin-top: 16px;
}
    .four_2{
        min-height: 200px;
    }
    .right-body{
        min-height: 50px;
    }
    .five{
        min-height: 56px;
        margin: 10px 10px;
    }
    .rbody{
        min-height: 56px;
    }
    footer{
        min-height: 30px;
    }
    .footer-content {
    min-height: 30px;
    margin: 15px 10px;
}
}


